fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
discord.py
PyNaCl
python-telegram-bot
passlib
bcrypt==3.2.2
python-multipart
redis
slowapi
anthropic
google-generativeai
pynacl
httpx
